.item label {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background-color: #fff;
    padding: 45px;
    text-align: center;
    margin-bottom: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-size: 0.9375rem;
    color: #777;
    cursor: pointer;
  }

@media (max-width: 991px) {
  .item label {
    padding: 30px;
  }
}
.item label strong {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  color: #333;
}
.item label:hover {
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.item label img {
  display: block;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
  .item label img {
    width: 80px;
    height: auto;
  }
}
.item label span {
  border: 4px solid #d9e1e6;
  display: block;
  margin: 0 auto 15px;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.item label figure {
  position: relative;
  width: 114px;
  height: 114px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
}
.item label figure img {
  width: 130px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.item input[type=checkbox]:not(old),
.item input[type=radio]:not(old) {
  visibility: hidden;
}
.item input[type=checkbox]:not(old):checked + label,
.item input[type=radio]:not(old):checked + label,
.item input[type=checkbox]:not(old):checked + span + label,
.item input[type=radio]:not(old):checked + span + label {
  display: block;
  border: 1px solid #acd373;
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
}
.item input[type=checkbox]:not(old):checked + label:before,
.item input[type=radio]:not(old):checked + label:before,
.item input[type=checkbox]:not(old):checked + span + label:before,
.item input[type=radio]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #acd373;
}
.item input[type=checkbox]:not(old):checked + label span,
.item input[type=radio]:not(old):checked + label span,
.item input[type=checkbox]:not(old):checked + span + label span,
.item input[type=radio]:not(old):checked + span + label span {
  border: 4px solid #acd373;
}
.item input[type=checkbox]:not(old):checked + label figure img,
.item input[type=radio]:not(old):checked + label figure img,
.item input[type=checkbox]:not(old):checked + span + label figure img,
.item input[type=radio]:not(old):checked + span + label figure img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

.animate_1ms {
  -webkit-animation-delay: 1ms;
          animation-delay: 1ms;
}

.animate_25ms {
  -webkit-animation-delay: 25ms;
          animation-delay: 25ms;
}

.animate_50ms {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.animate_100ms {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.animate_150ms {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.animate_200ms {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.animate_250ms {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.upload-documents {
  margin-top: 1px;
}
.upload-documents h3 {
  color: #5f5f63;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 0px;
}
.upload-documents .upload-araa {
  width: 100%;
  padding: 25px 25px 0px 25px ;
  display: inline-block;
  border: 2px solid #ededed;
}
.upload-documents .upload-icon {
  margin-right: 0px;
}
.upload-documents .upload-icon i {
  color: #d4d4d4;
  margin-left: 0px;
}
.upload-documents .upload-text {
  float: left;
  margin-top: 8px;
  display: inline-block;
}
.upload-documents .upload-text span {
  font-size: 16px;
  color: #929292;
}
.upload-documents .upload-option {
  height: 45px;
  float: right;
  margin-top: 8px;
  line-height: 45px;
  border-radius: 4px;
  display: inline-block;
  background-color: #1dbe72;
}
.upload-documents .upload-option label {
  color: #fff;
  font-weight: 500;
}
.upload-documents .upload-option {
  float: none;
}